include ../btn/btn
include ../projects/projects
include ../project/project

mixin portfolio()
	+b.SECTION.portfolio&attributes(attributes).sect
		+projects
			+project
				+e.content
					+e.image-wrap
						+e.IMG.image(src="assets/images/atlantida.png" alt="Atlantida")
					+e.H2.title Atlantida
					+e.P.text
						| Сделал адаптивную верстку лендинга 
						+e.link(href="assets/project/atlantida/index.html" target="_blank") Atlantida 
						| с использование сетки фрейморка Bootstap. Подключил слайдер Slick и сделал простой эффект Parallax для всей странице. Также настроил фильтр работ Portfolio с использованием Masonry (с англ. кирпичная кладка)
				+e.btn
					+btn(href="assets/project/atlantida/index.html" target="_blank") Посмотреть
					
			+project
				+e.content
					+e.image-wrap
						+e.IMG.image(src="assets/images/agenzia.png" alt="Дизайн студия Agenzia")
					+e.H2.title Agenzia
					+e.P.text
						| Адаптивно сверстал многостраничный сайт дизайн студии Agenzia. В проекте 7 страниц. Из них 
						+e.link(href="assets/project/agenzia/index.html" target="_blank") Главная, 
						+e.link(href="assets/project/agenzia/works.html" target="_blank") Работы, 
						+e.link(href="assets/project/agenzia/studio.html" target="_blank") О нас, 
						+e.link(href="assets/project/agenzia/products.html" target="_blank") Каталог товаров, 
						+e.link(href="assets/project/agenzia/product_item.html" target="_blank") Карточка товара, 
						+e.link(href="assets/project/agenzia/404.html" target="_blank") Ошибка 404, 
						+e.link(href="assets/project/agenzia/journal.html" target="_blank") Форум, 
						| а также 
						+e.link(href="assets/project/agenzia/journal-post.html" target="_blank") Страница отдельного поста
				+e.btn
					+btn(href="assets/project/agenzia/index.html" target="_blank") Посмотреть

			+project
				+e.content
					+e.image-wrap
						+e.IMG.image(src="assets/images/mike.png" alt="Дизайн студия Mike")
					+e.H2.title Mike
					+e.P.text
						| Сверстал
						+e.link(href="assets/project/mike/index.html" target="_blank") лендинг 
						| дизайн студии Mike. Одна из первых мои работ.
				+e.btn
					+btn(href="assets/project/mike/index.html" target="_blank") Посмотреть
