include ../title/title
include ../subtitle/subtitle
include ../quote/quote
include ../my-skills/my-skills
include ../skill/skill
include ../heading/heading

mixin about()
	+b.SECTION.about&attributes(attributes).sect
		+title 
			+e.disc Меня зовут 
			| Змиевкой Андрей
		+subtitle Я фронтенд разработчик
		+e.content
			+e.IMG.avatar(src="assets/images/avatar.jpg")
			+heading.__heading Коротко о себе
			+e.P.disc Всем привет. Живу и работаю в городе Калуга. В свободное от работы время занимаюсь спортом, катаюсь на роликах и увлекаюсь чтение книг.
			+e.P.disc Мне нравиться мир Frontend и все что с ним связанно. Люблю и умею писать  "правильную" верстку и красивый JavaScript. C радость берусь за сложные задачи и с легкостью выполняю простые.
			+e.P.disc Знание английского языка позволяют мне читать документацию, туториалы и диалоги иностранных разработчиков. Это позволяет развиваться в разных направления и увелить кругозор.
			+e.P.disc К проекту подхожу с разных сторон, обдумываю каждую мелочь, чтобы в будущем не было неприятных сюрпризов. Много времени уделяю юзабилити-мелочам и оптимизации страниц (минификация и склеивание файлов, сжатие изображения, создание растровых и векторных спрайтов), что конечный пользователь может и не заметить, но это точно благосклонно скажется на скорости загрузки.
			+heading.__heading Чем я занимаюсь?
			+my-skills.__work
				+e.item 
					+icon("power").icon
					| Верстка страниц, писем из готового PSD-макета;
				+e.item 
					+icon("power").icon
					|Создание и поддержка клиентской части;

			+heading.__heading Что я умею?
			+my-skills
				+e.item 
					+icon("checkmark").icon
					| Кроссбраузерная валидная семантическая вёрстка;
				+e.item 
					+icon("checkmark").icon
					| Уверенное работать с PSD/Sketch-макетоми;
				+e.item 
					+icon("checkmark").icon
					| Уверенное знание и понимание HTML, CSS;
				+e.item 
					+icon("checkmark").icon
					| Владение нативным JavaScript;
				+e.item 
					+icon("checkmark").icon 
					| Владение jQuery, использование jQ-плагинов;
				+e.item 
					+icon("checkmark").icon 
					| Знание Sass/Scss, LESS, Stylus;
				+e.item 
					+icon("checkmark").icon 
					| Знание Jade-шаблонизаторa;
				+e.item 
					+icon("checkmark").icon 
					| Работа в команде, работа с чужим кодом;
				+e.item 
					+icon("checkmark").icon 
					| Понимание ООП;
				+e.item 
					+icon("checkmark").icon 
					| Умение работать с системами контроля версий (git);
				+e.item 
					+icon("checkmark").icon 
					| Использование и понимание методологии БЕМ;

			+quote
				+e.text “Разберитесь в себе и поймите, что же вы любите. Это имеет такое же прямое отношение к вашей работе, как и к вашей личной жизни. Работа займёт большую часть вашей жизни, и единственный путь к самоуважению — делать то, что вы считаете стоящим больших усилий. А единственный способ выполнить такую работу — это любить то, чем вы заняты. Не раскисайте!”
				+e.author - Стив Джобс
				+e.idol Выступление перед выпускниками Стэнфордского университета, 12 июня 2005 г.
			//- +heading Photography Skills
			//- +skill
