mixin contact-form()
	+b.FORM.contact-form&attributes(attributes)(action="#")
		+e.P.title Контакт форма
		+e.LABEL.icon_name(for="name")
			+e.INPUT.item_name(name="name" placeholder="Ваше Имя" type="text" id="name" title="Напишите Ваше имя")
		+e.LABEL.icon_email(for="email")
			+e.INPUT.item_email(name="email" placeholder="Ваш Email-адрес" type="email" id="email" title="Напишите Ваш email-адрес")
		//- +e.LABEL.icon_website(for="website")
		//- 	+e.INPUT.item_website(name="website" placeholder="Web Address" type="text" id="website")
		//- +e.LABEL.icon_phone(for="phone")
			+e.INPUT.item_phone(name="phone" placeholder="Phone Number" type="tel" id="phone")
		+e.TEXTAREA.item_message(name="message")
		+e.INPUT.btn(name="btn" type="submit" value="Отправить").btn
