.quote
	font-size rem(14px)
	line-height 1.5
	
	&__text
		color $color-second
		font-family $font-second
		text-transform uppercase
		margin-bottom rem(10px)
		
	&__author
		//
			
	&__idol
		font-style italic
		font-weight 300
