.btn
	display inline-block
	vertical-align top
	min-width 128px
	line-height rem(42px)
	color $bg-color-second
	font-family $font-main
	font-size rem(14px)
	text-decoration none
	background-color $color-second
	text-align center
	transition all .5s
	
	&:hover
		background-color $color-hover
		color $color-main
