html
	height 100%
	font-size 16px
	
	+below('m')
		font-size 14px
	+below('s')
		font-size 13px
	+below('xs')
		font-size 11px

a
	color $color-second
	text-decoration none
	transition all .5s
	
	&:hover
		color $color-hover

strong
	font-weight 700
		
.portfolio.sect
	max-width 100%
