.logo
	display block
	color $color-second
	font-family $font-decor
	font-size rem(43px)
	text-decoration none
	
	&:hover
		color $color-hover
	
	&__disc
		font-family $font-main
		font-size rem(12px)
		color $color-main
		display block
		margin-top rem(10px)
