.social
	font-size 0
	color $color-main
	
	&__title
		text-transform uppercase
	
	&__item
		display inline-block
		vertical-align middle
		
	&__link
		display block
		color inherit
		padding rem(6px)
		
		&_gitgub
			&:hover
				color #4078c0
		&_phone
			&:hover
				color $color-second
		&_linkedin
			&:hover
				color #007bb6
		&_vk
			&:hover
				color #45668e
		&_email
			&:hover
				color #45668e
		&_skype
			&:hover
				color #077db4
			
		
	&__icon
		size(rem(16px))
		
		+below('s')
			size(rem(25px))
