.contact
	
	&__subtitle
		margin-bottom rem(33px)
		
	&__disc
		line-height 1.4
		margin-bottom rem(34px)
		
	&__inner
		display flex
		padding 0 rem(20px)
		flex-wrap wrap
		
	&__form
		margin-bottom rem(40px)
		
	&__form
	&__social
		width 50%
		
		+below('s')
			width 100%

	.social
		font-size rem(15px)
		margin-bottom rem(40px)
		
		&__title
			color $color-second
		
		&__item
			display block
			line-height 1.5
		&__icon
			margin-right rem(15px)
			size(18px)
			vertical-align middle
		&__link
			&:hover
				border none