head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='imagetoolbar' content='no')
	meta(name='msthemecompatible' content='no')
	meta(name='cleartype' content='on')
	meta(name='HandheldFriendly' content='True')

	meta(name='format-detection' content='telephone=no')
	meta(name='format-detection' content='address=no')

	meta(name='theme-color' content='#4099FF')

	meta(name='apple-mobile-web-app-capable' content='yes')
	meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

	link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
	link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
	link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
	link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
	link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
	link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
	link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
	link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
	link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
	link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
	link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
	link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
	link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
	link(rel="manifest", href="/manifest.json")
	link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
	meta(name="msapplication-TileColor", content="#2d89ef")
	meta(name="msapplication-TileImage", content="/mstile-144x144.png")

	link(rel='manifest' href='/manifest.json')

	meta(name="author" content="")
	meta(name="copyright" content="(c)")
	meta(http-equiv="Reply-to" content="adreeua@gmail.com")

	//- http://realfavicongenerator.net/faq#why_ico_not_declared

	block head

	title= pageTitle || ''
	meta(name='description' content=pageDescription || 'Личная страница Front-end разработчика Змиевского Андрея, на которой пердставленно портфолио и описание навыков')
	meta(name='keywords' content=pageKeywords || 'front-end разработчик, front-end, разработчик, разработка сайтов, сайты, Adree Zmievskoy, Змиевской Андрей, html, css, javascript')

	link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic' rel='stylesheet' type='text/css')

	link(href='assets/styles/app.min.css?t=' + timestamp rel='stylesheet')