.skill
	display block
	
	&__title
		font-family $font-second
		font-size rem(21px)
		text-transform uppercase
		margin-bottom rem(25px)
		
	&__item
		background-color $bg-color-second
		border-radius 4px
		width 100%
		line-height rem(44px)
		color $bg-color-second
		font-size rem(14px)
		position relative
		margin-bottom rem(18px)
		
	&__use
		background-color $color-second
		border-radius 4px
		padding-left 16px
		
		&_css
			width 89%
		&_html
			width 77%
		&_js
			width 65%
		&_ph
			width 85%
		&_cms
			width 65%
		&_php
			width 30%
		
	&__persent
		color $color-main
		position absolute
		right 22px
